.experience-header {
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
img {
  width: 93% 
}

.container {
  width: 900px;
    margin-left: 0;
    margin-right: 0; 
  font-family: Arial, Helvetica, sans-serif;
}

.container .left {
  width: 270px;
  float: left;
  background: #58595B;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

.container .right {
  width: 585px;
  float: left;
  padding-left: 15px;
}
